---
BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
InsertBraces: false
RemoveBracesLLVM: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
SortIncludes: true
IncludeBlocks: Preserve
AlignTrailingComments: true
SpacesInParentheses: false
DerivePointerAlignment: false
UseTab: Never
IndentWidth: 4
LineEnding:  LF
